﻿.yt_over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 500;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.unmute-div {
    position: relative;
    margin-top: 15%;
    color: red;
    z-index: 501;
}

.unmute-btn {
    z-index: 501;
    cursor: pointer;
}

.unmute-txt {
    font-size: 2em;
    font-weight: 600;
    z-index: 501;
    cursor: pointer;
}

@media only screen and (max-width:580px) {
    .unmute-div {
        margin-top: 15%;
    }

    .unmute-txt {
        font-size: 1em;
        font-weight: 600;
    }
}

.plus18 {
    position: absolute;
    left: 10px;
    top: 5em;
    background: url(Images/plus-18.png) no-repeat;
    width: 2em;
    height: 2em;
    background-size: contain;
    z-index: 2000;
}

@media screen and (min-width:1200px) {
    .plus18 {
        width: 6em !important;
        height: 6em !important;
    }
}
